{% extends "base/base.twig" %}

{% block title %}
    Manage Operators
{% endblock %}

{% block container %}
    <div class="jumbotron">
        <h1>Operators section</h1>
        <p>In this part you can create operators, assign levels, administer levels</p>
        <p>
		<a class="btn btn-primary btn-lg" href="{{ path_for('list-operator') }}" role="button">Manage Operators</a>
		<a class="btn btn-primary btn-lg" href="{{ path_for('list-operator-level') }}" role="button">Manage Access Levels</a>
	</p>
    </div>
{% endblock %}
